body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  transition: 0.3s ease;
}

.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 25px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  padding: 10px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #cbd5e1;
  border-radius: 6px;
}

.sidebar a.active,
.sidebar a:hover {
  background: #2563eb;
  color: white;
}

.dark-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Stats */
.stats {
  display: flex;
  gap: 25px;
  margin: 20px 0;
}

.stat-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.stat-box:hover {
  transform: translateY(-5px);
}

/* Chart */
.chart-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 500px;
}

/* Table */
.app-table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin-top: 20px;
}

.app-table th,
.app-table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.app-table th {
  background: #f1f5f9;
}

/* Status */
.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.applied { background: #3b82f6; }
.interview { background: #f59e0b; }
.offer { background: #10b981; }
.rejected { background: #ef4444; }

/* Form */
.form-box {
  max-width: 400px;
}

.form-box input,
.form-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.form-box button {
  padding: 10px;
  width: 100%;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
}

/* Dark Mode */
.dark {
  background: #1f2937;
  color: white;
}

.dark .stat-box,
.dark .chart-box,
.dark .app-table {
  background: #111827;
  color: white;
}
